.navBarLogo{
  background-image: url("../src/assets/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 12vh;
  height: 4vh;
  position: absolute;
  left: 5%;
}

.item-holder{
  width: 250px;
}

.cardBody{
  height: 300px;
}